<form [formGroup]="form" (submit)="submitForm()">
  <mat-form-field appearance="outline">
    <mat-label>Symbol</mat-label>
    <input matInput formControlName="symbol" type="text" placeholder="Choose a symbol">
    <mat-error *ngIf="form.controls.symbol.invalid">Field is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>OTM</mat-label>
    <mat-select formControlName="otm">
      <mat-option *ngFor="let item of otm" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.otm.invalid">Field is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Term</mat-label>
    <mat-select formControlName="term">
      <mat-option *ngFor="let item of term" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.term.invalid">Field is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Option Type</mat-label>
    <mat-select formControlName="optionType">
      <mat-option *ngFor="let item of optionType" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.optionType.invalid">Field is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date-time from</mat-label>
    <input matInput formControlName="fromTime" type="datetime-local" placeholder="Choose a date-time from">
    <mat-error *ngIf="form.controls.fromTime.invalid">Field is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date-time to</mat-label>
    <input matInput formControlName="toTime" type="datetime-local" placeholder="Choose a date-time to">
    <mat-error *ngIf="form.controls.toTime.invalid">Field is required</mat-error>
  </mat-form-field>

  <mat-slide-toggle [formControl]="rtModeControl">RT Mode</mat-slide-toggle>

  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (submit)="form"
  >
    Submit
  </button>
</form>
