:host {
  width: 100%;
  padding: 12px;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

button,
mat-form-field {
  padding: 0 6px;
}
